a {
  text-decoration: none;
  color: #FBC02D;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.margin-0 {
  margin: 0 !important;
}

.margin-left {
  margin-left: 70px;
}

.icon-pos {
  position: absolute;
  top: 20px;
}

.m-left {
  margin-left: 20px;
}
